@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

/* Force light theme site-wide */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}
